h1 {
  font-family: serif;
}
h2 {
  font-family: serif;
}
body {
  background: #95c8d8;
}
h1 {
  color: #FDAED2;
}

.content {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 10px;
}
</style>
</head>
<body>
<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>
