body {
  background: #cca9dd;
}
img {
  display: block;

  margin-left: auto;
}


.content {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}






.box {
  background-color: white;
  width: 130px;
  height: 150px;
  border: 2px solid #ab71c7;
  padding: 10px;
  margin: 15px;
  position: absolute;
}
h1 {
  font-family: serif;
}
h2 {
  font-family: serif;
}
h1 {
  color: #9047b3;
}
h1 {text-align: center;}
p {text-align: center;}
h4 {text-align: center;}
<style>

div.scrollmenu {
  background-color: #9b6bb3;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #cca9dd;
}
div.scrollmenu {
  background-color: #9b6bb3;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  
}

div.scrollmenu a:hover {
  background-color: #cca9dd;
}

</style>
