body {
  background: #cca9dd;
}

.content {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 10px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}






.box {
  background-color: white;
  width: 130px;
  height: 180px;
  border: 2px solid #ab71c7;
  padding: 10px;
  margin: -4px;
  position: absolute;
}
h1 {
  font-family: serif;
}
h2 {
  font-family: serif;
}
h1 {
  color: #9047b3;
}
#key-takeaways::before{
  display: block;
  content: "box";
  width: 50%;
  padding-top:2em;
  border-top: 0.1em solid #f00;
  border-left: 0.1em solid #f00;
  
}
